# Copy values into ~/.config/luna-webchat/luna.env
LUNA_WINDOWS_AGENT_TOKEN=
LUNA_WINDOWS_AGENT_URL=http://172.31.31.11:8787
LUNA_LED_ENABLED=false
LUNA_LED_DRY_RUN=false
LUNA_LED_ADDRESS=6E:63:BD:E3:20:B5
LUNA_LED_COLOR=ffffff
LUNA_LED_ANIMATION=0
LUNA_LED_SPEED=80
LUNA_LED_MAX_CHARS=180
