__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
.certs/
venv/
*.hef
*.onnx
*.log
hailort*.log
pyhailort.log
runtime.log
window_state.json
video_window_state.json
luna_memory.db
backups/
backups2/
backups3/
*.bak
.vscode/launch.json
.DS_Store
.venv/
__pycache__/
